*{
padding:0;
margin:0; 
box-sizing:border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}

/* 메뉴 */
#header {
position:fixed; 
width:100%; 
min-width:1300px; 
height:70px; 
background:transparent; 
color:#A4907C;
z-index:999;
}

#header:hover {
background:#A4907C !important;
  z-index:9999;
}
#header .header_inner {
position:relative; 
margin:0 auto;
width:1300px; 
text-align:center;
  z-index:-10;
}
#header .logo {
position:absolute; 
width:100px;
left:0; 
top:0; 
z-index:99999;
z-index:9999;
font-size:2.08em;
}
#header .logo h1 {
font-size:1em;
  z-index:9999;
}
#header .logo h1 a{
position:relative; 
display:block; 
line-height:70px; 
font-size:0.875em; 
font-weight:600; 
color:#fff;
  z-index:9999;
}
#header nav {
position:relative; 
width:100%; 
height:100px; 
font-size:1em;
  z-index:9999;
}
#header nav > ul {
position:relative; 
text-align:right;
 z-index:9999;
}
#header nav > ul > li {
display:inline-block; 
vertical-align:top;
  z-index:9999;
}
/*해더색상*/
#header nav > ul > li > .navMenu ,
#header nav > ul > li > .navMenuAll {
  position: relative;
  display:block;
  height:100px;
  padding:0 20px;
  font-weight:400;
  color:#fff;
  line-height:70px;
  cursor:pointer;
  font-size:2.08em;
  letter-spacing:-.01em;
  z-index: 999999;
}
#header nav .navSub {
	position:absolute;
	display:none;
	left:-50%;
    top:100px;
	width:200%;
	height:0;
	overflow:hidden;
    background:rgba(36,71,66,.7);
	transition:0.3s;
    z-index:999999;
    color:#fff !important;
}
/* STICKY */
.sticky, .sticky nav {
height:50px; 
background: #244742 !important;
z-index:9999;
}
.sticky nav .logo {
height:24px; 
width:100px; 
margin:12px 0px; 
cursor:pointer;
z-index: 999999999;
}
#header.sticky nav > ul > li > .navMenu {
color:rgba(255,255,255,.5);
  z-index:9999;
}
#header.sticky nav > ul > li > .navMenu:hover {background:rgba(255,255,255,0.1); 
 color:rgba(255,255,255,1);
  z-index:9999;
}
#header nav > ul > li > .navMenu:hover,
#header nav > ul > li > .navMenu:active{
z-index:9999;
color:rgba(255,255,255,1);
}
/*마우스 올리면 바뀌는 색상*/
#header nav > ul > li > .navMenu.over {
color:skyblue;     
z-index: 99999;
}
.navMenu input label a:hover{
  color: skyblue;
}

#header nav > .navMenu > .navSub.navSub_h {
display:block; 
height:200px;
  z-index:9999;
}

.contents{
  background:#A08DE8;
}

.wrapper{
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: #8D7B68;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
  z-index:9999;
}
#active:checked ~ .wrapper{
  /*left: 0;*/
  right:0;
  z-index:999999;
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /*left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
  z-index:999999;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid #000;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index:9999999;
}
.menu-btn:before{
  transform: translateY(-8px);
  z-index:9999999;
}
.menu-btn:after{
  transform: translateY(8px);
  z-index:9999999;
}


.close {
	z-index: 9999;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
  z-index:9999;
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
  z-index:9999;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
  z-index:9999;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index:9999;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
  z-index:9999;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index:9999;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: 9999;
  transition: transform 0.3s ease;
}
.wrapper ul li input a:hover:after{
  transform: scaleY(1);
  z-index:9999;
}
.wrapper ul li a:hover{
  color: #1a73e8;
  z-index:9999;
}
input[type="checkbox"]{
  display: none;
  z-index:-10;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
   z-index:-10;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
  z-index:-10;
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); 
   transition-delay: .6s;
  transform: translateX(-100px);
}
/*==========================*/



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}
.wrapper12{
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background: #A4907C;
  transition: all 0.6s ease-in-out;
  z-index:1;
}
#active:checked ~ .wrapper12{
  /*left: 0;*/
  right:0;
}
.menu-btn1{
  position: fixed;
  z-index: 99999999999;
  right: 530px;
  /*left: 20px; */
  top: 12px;
  height: 50px;
  width: 80px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-btn1 span,
.menu-btn1:before,
.menu-btn1:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid #fff; /*메뉴버튼색상*/
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn1:before{
  transform: translateY(-8px);
}
.menu-btn1:after{
  transform: translateY(8px);
}
.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}
#active:checked + .menu-btn1 span {
	transform: scaleX(0);
}
#active:checked + .menu-btn1:before {
	transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn1:after {
	transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper12 .ul1{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper12 .ul1 .li1{
  height: 10%;
  margin: 15px 0;
}
.wrapper12 .ul1 .li1 {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper12 .ul1 .li1 :after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper12 .ul1 .li1 :hover:after{
  transform: scaleY(1);
}
.wrapper12 .ul1 .li1 :hover{
  color: #1a73e8;
}
input[type="checkbox"]{
  display: none;
}
#active:checked ~ .wrapper12 .ul1 .li1 {
  opacity: 1;
}
.wrapper12 .ul1 .li1 {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper12 .ul1 .li1 {
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); 
   transition-delay: .6s;
  transform: translateX(-100px);
}

/*이미지 슬라이드*/

/* Slideshow container */
.slideshow-container {
  max-width: 100000px;
  position: relative;
  margin: auto;
  z-index:-99;
}
/* Caption text */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index:-99;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index:-99;
}

.active {
  background-color: #717171;
  z-index:-99;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  z-index:-99;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}





