@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
/* css파일 만들기 */
	/* banner */
	.contents{
		width: auto; 
		height: 900px;
		min-width: 5700px;
		min-height: 900px; 
		border: 1px solid black;
	}
	.banner {
		/* position: relative; */
		width: auto;
		min-width: 5700px;
		min-height: 900px;
		height: 900px; 
		top: 50px;  
		margin:0 auto; 
		padding:0; 
		overflow: hidden;
	}
	
	.banner #banner_list {
	/* position: absolute; */ 
	margin: 0px; 
	padding:0; 
	list-style: none; 
	}
	.banner #banner_list li {
	float: left; 
	width: auto; 
	height: 900px; 
	min-width: 5700px;
	min-height: 900px;
	margin:0; 
	padding:0;
	}
	
	/* 강아지 고양이 버튼 */
	
	.type_div {
		clear:left;
		/* 보더 사이즈 물어보기 */
		width: 205px;
		height: auto;
		border: 2px solid #666666;
		margin: 20px auto;
		text-align: center;
		padding: 3px;
		border-radius: 1em;
		
		
	}
	.type_btn {
		font-family: 'NanumSquareRound';
		clear:left;
		color: #ffffff;
		background-color: #8F90A4;
		font-size: 24px;
		font-weight: 800px;
		border-radius:0.5em;
		padding:5px 15px;
		border: 1px solid #666666;
	}
	
	/* 하단 카테고리 탭 */
	html,body {
		width:100%;
	}
	body,div,ul,li {
		margin:0; 
		padding:0;
	}
	ul,li {
		list-style: none;
	}
	
	/*tab css*/
	.tab {
		float:left; 
		width:100%; 
		height:290px;
		margin: 0 auto;
	}
	.tabnav {
		font-size:0; 
		width:100%; 
		border:1px solid #ddd;
	}
	.tabnav li{
		display: inline-block; 
		width:19.94%;  
		height:46px; 
		text-align:center; 
		border-right:1px solid #ddd;
	}
	.tabnav li a:before{
		content:""; 
		position:absolute; 
		left:0; 
		top:0px; 
		width:100%; 
		height:3px; 
	}
	.tabnav li a.active:before{
		background:#8F90A4;
	}
	.tabnav li a.active {
		border-bottom:1px solid #fff;
	}
	.tabnav li a {
		position:relative; 
		display:block; 
		background: #fff; 
		color: #8F90A4; 
		padding:0 30px; 
		line-height:46px; 
		text-decoration:none; 
		font-size:16px;
		}
		
	.tabnav li a:hover,
	.tabnav li a.active {
		background:#8F90A4; 
		color:#fff; 
	}
	
	.tabcontent {
		padding: 20px; 
		width:auto;
		height:auto; 
		border:1px solid #ddd; 
		border-top:none;
		min-height: 201px;
	}
	
	/* 중앙 카테고리 탭 하위분류 버튼 css */
	
	#food, #snack, #toy, #house, #clothes{
		margin: auto;
		text-align: center;
	}
	
	.cate_btns {
		display: inline-block;
		width: 100px;
		height: 100px;
		margin: 30px 100px;
		text-align: center;
	}
	
	.cate-link  {
		text-decoration: none;
		color: #666;
	}
	
	/* 텍스트 스타일 */
	
/* 	.best_div {
	display: inline-block;
		height: 60px;
		width: auto;
		
	}
	
	.title {
		display: inline-block;
		border: 0px solid #666;
		margin: 30px 30px;
		padding: 10px 20px;
		font-size: 32px;
		font-weight: 800;
		
	}
 */
 	
 	
 	.serv_list  {
	    position: relative;
	    left: 130px;
	}
 	
 	.serv_list, .best_container {
 		display: inline-block;
 		margin: 40px;
 		min-width: 1505px;
 		margin-top: 150px;
 	
 	}
 	
 	.best_container {
 		margin: auto;
 	}
 	
 	.serv_list .best_container .title h1 {
 		display: inline-block;
 		font-size: 32px;
 		margin: 35px;
 	}
 	
 	.serv_list .best_container .pdt_list {
 		border: 1px solid #eee;
 		border-radius: 5px;
 		display: flex;
 		flex-wrap: wrap;
 		justify-content: space-between;
 		/* min-width: 1750px; */ 
 		min-width: 1500px;
 		/* min-height:460px; */
 		height: auto;
 		overflow:hidden;
 		margin: auto;
 		padding: 30px;
 	} 
 	
 	.serv_list .best_container .pdt_list .card {
 		border: 1px solid #eee;
 		border-radius: 5px;
 		height: auto;	
 		padding: 30px;
 		margin-bottom: 40px;
 		margin: 20px;
 		width: 300px;
 		
 	}
 	
 /* 	.serv_list .best_container .pdt_list .card {
 		margin: 20px;
 		width: 300px;
 	} */
	 	
	 .serv_list .best_container .pdt_list .card card_img {
	 	height: 200px;
	 	width: 250px;
	 }
	 
	 .card_img {
	 	margin: auto;
	 	text-align: center;
	 } 
	 
	 .serv_list .best_container .pdt_list .card .card_text h2{
	 	padding: 0px 10px;
	 
	 }
	 
	  .pdt_info{
	  	font-size: 15px;
	  	opacity: .8;
	  	font-weight: 300;
	  	padding: 0px 10px;
	  	text-align: left;
	  }
	  
	   .pdt_price {
	   		text-align: right;
	   		padding: 0px 10px;
	   }
	   
	   .pdt-link {
		   	text-decoration: none;
			color: #555;
	   }
	   
	   
	   /* 리뷰 */
	   
 	.serv_list, .rv_container {
 		display: inline-block;
 		margin: 40px;
 		min-width: 1505px;
 		margin-top: 150px;
 	
 	}
 	
 	.rv_container {
 		margin: auto;
 	}
 	
 	.serv_list .rv_container .title h1 {
 		display: inline-block;
 		font-size: 32px;
 		margin: 35px;
 	}
 	
 	.serv_list .rv_container .review_list {
 		border: 1px solid #eee;
 		border-radius: 5px;
 		display: flex;
 		flex-wrap: wrap;
 		justify-content: space-between;
 		/* min-width: 1750px; */ 
 		min-width: 1500px;
 		/* min-height:460px; */
 		height: auto;
 		overflow:hidden;
 		margin: auto;
 		padding: 30px;
 	} 
 	
 	.serv_list .rv_container .review_list .card {
 		border: 1px solid #eee;
 		border-radius: 5px;
 		height: auto;	
 		padding: 30px;
 		margin-bottom: 40px;
 		margin: 20px;
 		width: 400px;
 		
 	}
 	
 /* 	.serv_list .best_container .pdt_list .card {
 		margin: 20px;
 		width: 300px;
 	} */
	 	
	 .serv_list .rv_container .review_list .card review_img {
	 	height: 200px;
	 	width: 250px;
	 }
	 
	 .review_img {
	 	margin: auto;
	 	text-align: center;
	 } 
	 
	 .serv_list .rv_container .review_list .card .card_text .review_title{
	 	padding: 0px 10px;
	 	display: inline-block;
	 
	 }
	 
	  .review_info{
	  	display: flex;
	  	flex-direction: column;
	  	font-size: 15px;
	  	opacity: .8;
	  	font-weight: 300;
	  	padding: 0px 10px;
	  }
	  
	 	
	.star {
    display: flex;
    flex-direction: row;
    align-items: center;
}

	
	.stars_img {
	  color: #aaa9a9; 
	  position: relative;
	  unicode-bidi: bidi-override;
	  width: max-content;
	  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	  -webkit-text-stroke-width: 1.3px;
	  -webkit-text-stroke-color: #2b2a29;
	  /* margin-top: 22px */
	}
	
	.stars_score, .review_cnt {
		margin-left: 15px;
	}
 
	.star-fill {
	  color: #fff58c;
	  padding: 0;
	  position: absolute;
	  z-index: 1;
	  display: flex;
	  top: 0;
	  left: 0;
	  overflow: hidden;
	  -webkit-text-fill-color: gold;
	}
	
	.star-fill span {
	    padding-right: 3px;
	}
 
	.star-base {
		  z-index: 0;
		  padding: 0;
	}
	
	.star-base span {
	    padding-right: 3px;
	}
	   
	   .review-link {
		   	text-decoration: none;
			color: #555;
	   }
	   
	   .proprofile_box {
	   		display: inline-block;
	   		min-width: 330px;
	   		margin-left: 35px;
	   }
	   
	   .profile_info {
	   	min-width: 85px;
	   	display: flex;
   		flex-direction: column;
   		padding-left: 15px;
	   }
	   
	   .proprofile_box .profile_img {
	    float: left;
	   	margin: 0 auto;
        width: 65px;
        height: 65px;
        border: 1px solid #555;
        border-radius: 50%;
        overflow: hidden;
	   	
	   }
	   
	 .card_text {
		display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    margin-left: 18px;
	  }
	   
	   .card_text .profile_box .member_nickname {
	   		/* float: left; */
	   		position: relative;
		    /* display: block; */
		    left: 15px;
		    top: 10px;
	   }
	   
	   .card_text .profile_box .pet {
	   		position: relative;
    		top: 30px;
	   }
	   
	   .like_box {
	   		float:right;
	   }
	   
	   .like_box .like_btn {
	   		border: 1px solid #555;
	   		border-radius: 10px;
	   		background-color: white;
	   }
	   
	   .like_box .like_img {
	   		width: 20px; 
	   		padding: 2px 10px;	
	   }
	    .like_box span{
	    	padding-bottom:10px;	
	    }
	   