@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* #Primary
================================================== */
body {
	font-family: 'NanumSquareRound', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	color: #212112;
	background-position: center;
	background-repeat: repeat;
	background-size: 10%;
	background-color: #fff;
	overflow-x: hidden;
	transition: all 200ms linear;
}
/* 드래그 시 색 지정 */
::selection {
	color: #fff;
	background-color: #8167a9;
}

::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

/* #네비게이션바
================================================== */
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	transition: all 0.3s ease-out;
}

.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	transition: all 0.3s ease-out;
}

.start-header.scroll-on {
	height: 100px;
	transition: all 0.3s ease-out;
}

.navigation-wrap {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: all 0.3s ease-out;
}

.navbar {
	padding: 0;
	
}

.navbar-brand .logoimg {
	margin-left: 100px;
	margin-top: 15px;
	height: 60px;
	width: auto;
	display: block;
	filter: none !important;
}


.nav-item:hover .nav-link {
	color: #f2416b !important;
	float: left;
}

.nav-item.active .nav-link {
	color: #666 !important;
	float: left;
}

.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
	font-weight: 800;
	text-decoration: none;
	color: #666;
}

.nav-item:after {
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #f2416b;
	opacity: 0;
	transition: all 200ms linear;

}

.nav-item:hover:after {
	bottom: 0;
	opacity: 1;

}

.nav-item.active:hover:after {
	opacity: 0;
}

.nav-item {
	position: relative;
	transition: all 200ms linear;
	float: left;
	list-style:none;
	padding: 20px;
	color: #666;
}
.nbsp {
	float: left;
	list-style:none;
	padding: 20px 10px;
}
.navbar-collapse {
	 list-style:none;
	 float: right;
	 position: absolute; 
	 top: 0px; 
	 right: 100px;
}

/* #Primary style
================================================== */
.bg-light {
	background-color: #fff !important;
	transition: all 200ms linear;
}

.section {
	position: relative;
	width: 100%;
	display: block;
}

.full-height {
	height: 100vh;
}

.over-hide {
	overflow: hidden;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}

h1 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}

p {
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
	transition: all 300ms linear;
	transition-delay: 1700ms;
}

body.hero-anime #switch {
	opacity: 0;
	transform: translateY(40px);
	transition-delay: 1900ms;
}

.nav-item .dropdown-menu {
	transform: translate3d(0, 10px, 0);
	visibility: hidden;
	opacity: 0;
	max-height: 0;
	display: block;
	padding: 0;
	margin: 0;
	transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
	opacity: 1;
	visibility: visible;
	max-height: 999px;
	transform: translate3d(0, 0px, 0);
}


@media ( max-width : 767px) {
	h1 {
		font-size: 38px;
	}
	.nav-item:after {
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
#hamberger:after{
	
    content: '';
    clear: both;
    display: block;
}
}
.menu {
  position: relative;
  top: 3px;
 /*  right: 2%; */
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 1500;
  transition: opacity 0.25s ease;
  float: right;
}
.menu:hover {
  opacity: 0.7;
}
.menu.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #666;
}
.menu.active .middle {
  opacity: 0;
  background: #666;
}
.menu.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #666;
}
.menu .h-icon {
  background: #666;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.menu .h-icon:nth-of-type(2) {
  top: 11px;
}
.menu .h-icon:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background-color: #ffffff;
  background-color: rgba( 255, 255, 255, 0.5 );
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0%;
  z-index: 1000;
  overflow: hidden;
}
.overlay.open {
  height: 100%;
}
.overlay.open .hli {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open .hli:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open .hli:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open .hli:nth-of-type(4) {
  animation-delay: 0.5s;
}

.overlay-menu {
	margin: auto;
    position: relative;
    left: 48%;
    top: 35%;
}

.overlay .hambergerul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  text-align: center;
}
.overlay .hambergerul .hli {
  display: block;
  text-align: center;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay .hambergerul .hli .halink {
  display: block;
  position: relative;
  color: #666;
  text-decoration: none;
  overflow: hidden;
}

.overlayhambergerul .hli a:hover:after, .overlay .hambergerul .hli .halink:focus:after, .overlay .hambergerul .hli .halink:active:after {
  width: 100%;
}
.overlay .hambergerul .hli .halink:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #333333;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
 }