@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* #Primary
================================================== */
body {
	font-family: 'NanumSquareRound', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	color: #212112;
	background-position: center;
	background-repeat: repeat;
	background-size: 10%;
	background-color: #fff;
	overflow-x: hidden;
	transition: all 200ms linear;
}
/* 드래그 시 색 지정 */
::selection {
	color: #fff;
	background-color: #8167a9;
}

::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

/* #네비게이션바
================================================== */
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	transition: all 0.3s ease-out;
}

.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	transition: all 0.3s ease-out;
}

.start-header.scroll-on {
	height: 100px;
	transition: all 0.3s ease-out;
}

.navigation-wrap {
	position: fixed;
	width: 100%;
	height:70px;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: all 0.3s ease-out;
	background-color: white;
}

.navbar {
	padding: 0;
	
}

.navbar-brand .logoimg {
	margin-left: 100px;
	margin-top: 6px;
	height: 60px;
	width: auto;
	display: block;
	filter: none !important;
}

/* 검색 */
.search_fd {
	position: fixed;
	top: 18px;
	height: 27px;
	z-index: 100;
	margin-left: 1300px;
	
}

input[type=text] {
	width: auto;
	height:30px;
	border: 2px solid #8F90A4;
	position: fixed;
}

/* 햄버거 */
.menu {
  position: fixed;
  top: 22px;
  right: 85px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 1500;
  transition: opacity 0.25s ease;
}
.menu:hover {
  opacity: 0.7;
}
.menu.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #333333;
}
.menu.active .middle {
  opacity: 0;
  background: #333333;
}
.menu.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #333333;
}
.menu .h-icon {
  background: #333333;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.menu .h-icon:nth-of-type(2) {
  top: 11px;
}
.menu .h-icon:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background-color: #ffffff;
  background-color: rgba( 255, 255, 255, 0.5 );
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0%;
  z-index: 1;
  overflow: hidden;
}
.overlay.open {
  height: 100%;
}
.overlay.open .hli {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open .hli:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open .hli:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open .hli:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay .hambergerul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay .hambergerul .hli {
  display: block;
  text-align: left;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay .hambergerul .hli .halink {
  display: block;
  position: relative;
  color: #333333;
  text-decoration: none;
  overflow: hidden;
}

.overlayhambergerul .hli a:hover:after, .overlay .hambergerul .hli .halink:focus:after, .overlay .hambergerul .hli .halink:active:after {
  width: 100%;
}
.overlay .hambergerul .hli .halink:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #333333;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }

}